* {
  box-sizing: border-box;
}
/*style the body*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
/*header/logo title */
header {
  padding: 60px;
  text-align: left;
  background: #232b29;
  color: #f1f1f1;
  font-size: 30px;
}
header h1 {
  font-size: 40px;
}
nav.main-nav {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  position: sticky;
  top: 0; /* fixed at the top*/
}
nav.main-open {
  left: 0; /*slide from the left*/
}
nav.main-nav a {
  color: white;
  padding: 10px;
}
nav.main-nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
nav.main-nav a:hover {
  background-color: #575757;
  border-radius: 5px;
}
.main-content {
  margin-top: 80; /* adjust the margin to make space for the navigation bar */
  padding: 20px;
  width: 100%;
}
